/* temp borders for divs*/
div {
  border: 1px solid black;
}

header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight:bold;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid black;
  height: 80px;
}

nav {
  display: block;
  padding-right: 40px;
}

.logo {
  display: flex;
  color: MediumAquamarine;
  align-items: center;
  padding-left: 30px;
  flex-grow: 1;
}

footer {
  display: flex;
  align-items: center;
  flex-direction: row;
}

span {
  display: inline-block;
  padding: 20px 10px;
}

content {
  display: flex;
}
