header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight:bold;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid black;
  height: 80px;
  flex-grow: 1;
}

nav {
  display: flex;
}

.logo {
  display: flex;
  color: MediumAquamarine;
  align-items: center;
}

footer {
  display: flex;
  align-items: center;
  flex-direction: row;
}

span {
  display: inline-block;
  padding: 20px 10px;
}
